*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightcyan;
}

h1 {
    color: (0,0,0);
    text-align: center;
}



h2 {
    margin-left: 40px;
    text-decoration-line: underline

}

ol {
    margin-left: 40px
}

section {
    margin-left: 40px;
    text-size-adjust: 15pt; 
    text-decoration-line: underline;
    font-weight: bold;
}

p {
    margin-left: 40px;
    text-indent: 40px;
}

ol {
    margin-left: 40px;
    
}

ul {
    margin-left: 40px;
}

img {
    width: 200
}